<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Group edit</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Group edit</h1>
                <form action="/group_edit" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter group name">
                        <input type="hidden" name="action" value="create">
                    </div>
                    <button type="submit" class="btn btn-primary">Create group</button>
                </form>
                <br>
                <h3>Groups</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i=0; i < groups.length; i++) { %>
                            <tr>
                                <form action="/group_edit" method="POST">
                                    <td>
                                        <input type="text" value="<%= groups[i].name %>" name="name">
                                    </td>
                                    <td>
                                        <input type="hidden" name="id" value="<%= groups[i].id %>">
                                        <input type="hidden" name="action" value="update" id="action_<%= groups[i].id %>">
                                        <button type="submit" class="btn btn-primary" onclick="update_item(<%= groups[i].id %>)">Update</button>
                                        <button type="submit" class="btn btn-danger" onclick="delete_item(<%= groups[i].id %>)">Delete</button>

                                    </td>
                                </form>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        function delete_item(id) {
            document.getElementById("action_" + id).value = "delete";
        }
        function update_item(id) {
            document.getElementById("action_" + id).value = "update";
        }
    </script>
</body>

</html>